<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
 <ion-list>
  <ion-item>
    <ion-label>แผนกหลัก</ion-label>
    <ion-select [(ngModel)]="mainDep" (ionChange)="getSubDepartments()" required>
      <ion-option *ngFor="let d of mainDepartments" [value]="d.id">
        {{d.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>แผนกย่อย</ion-label>
    <ion-select [(ngModel)]="subDep" multiple="true" required>
      <ion-option *ngFor="let d of subDepartments" [value]="d.id">
        {{d.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <button (click)="showSelected()" [disabled]="!mainDep || !subDep">Show Selected</button>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>อาหารที่ชอบ</ion-list-header>
  <ion-item>
    <ion-label>โค้ก/เป็บซี่</ion-label>
    <ion-checkbox [(ngModel)]="coke" danger></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>ไข่เจียว</ion-label>
    <ion-checkbox [(ngModel)]="egg" secondary></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>พิชซ่า</ion-label>
    <ion-checkbox [(ngModel)]="pizza"></ion-checkbox>
  </ion-item>
  <ion-item>
      <ion-item>
    <button (click)="showSelectedFood()">Show Selected</button>
  </ion-item>
  </ion-item>
</ion-list>
  
</ion-content>
